<div class="grid grid-pad">
	<div class="col-1-1">
		<p>
			<a target="blank" href="http://www.github.com/astronautaid">
				GitHub
			</a>
			/
			<a target="blank" href="http://www.linkedin.com/in/yangal">
				LinkedIn
			</a>
			/
			<a target="blank" href="http://www.twitter.com/astronautaid">
				Twitter
			</a>
			/
			<a target="blank" href="http://www.hypem.com/aidenator">
				Hype Machine 
			</a>
		</p>
		<p>Contact me at <a href="mailto:al@alyang.io">al@alyang.io</a>. I'd love to talk.
			<p>
				Web developer in NYC studying Computer Science at Columbia University. 
			</p>
			<p> Passionate about the web, entrepreneurship, product design, and beatboxing. 
			</p>
			<p>Obsessed with keeping things simple and streamlined.
			</p>
		</div>
	</div>
</div>
