<div class="grid grid-pad">
	<div class="col-1-1">
		<p class="oblique">Grab a PDF copy for the road.
		</p>
	</div>
</div>
<div class="resume">
	<div class="grid small-pad">
		<div class="col-1-1">
			<h1>Education</h1>
		</div>
	</div>
	<div class="grid grid-pad">
		<div class="col-4-12">

			<h2>Columbia University</h2>
			B.A., Computer Science </br>
			October 2011 - expected May 2015
			<div class="oblique">
				New York, New York
			</div>
		</div>
		<div class="col-8-12">
			I am in the web applications track. I have had extensive coursework in computer science theory, networking, software development, object oriented programming, data structures, artificial intelligence, and have studied Java, C, and C++ academically.
		</div>
	</div>
</br>
	<div class="grid small-pad">
		<div class="col-1-1">
			<h1>Skills</h1>
		</div>
	</div>
	<div class="grid grid-pad">
		<div class="col-1-1">
			Programming Languages: Java, Javascript, C, C++, C#, Python</br>
			Frameworks/Libraries: AngularJS, Flask, JQuery, Django</br>
			Environments: UNIX, Windows</br>
			Networking: TCP/IP, HTTP</br>
			Databases: Oracle, PostgreSQL</br>
			Software: Eclipse, XCode, Visual Studio, OmniGraffle, Sublime Text, Adobe Photoshop, Adobe Illustrator</br>
			Languages: English, Mandarin Chinese, Swahili
		</div>
	</div>
</br>
	<div class="grid small-pad">
		<div class="col-1-1">
			<h1>Work Experience</h1>
		</div>
	</div>
	<div class="grid grid-pad">
		<div class="col-4-12">
			<h2>MaxPoint Interactive</h2>
			Software Engineering Intern </br>
			June 2013 - present
			<div class="oblique">
				New York, New York and Raleigh-Durham, North Carolina
			</div>
		</div>
		<div class="col-8-12">
			- Leading refactoring and redesigning codebase to allow client-facing software to be utilized by clients in non-English speaking countries </br>
			- Engineered centralized ticketing and communication platform to replace email communication about digital advertising campaigns</br>
			- Improved productivity for Business Analytics, Product Engineering, Sales, and Account Managing teams across the country by eliminating wasteful emailcommunication from their workflows</br>
			Stack: AngularJS, ASP.net MVC4, C#, PostgreSQL, HTML5/CSS3
		</div>
	</div>
	<div class="grid grid-pad">
		<div class="col-4-12">
			<h2>Weatherhead East Asian Institute, Columbia University</h2>
			Web Developer/Designer</br>
			September 2012 – May 2013
			<div class="oblique">
				New York, New York
			</div>
		</div>
		<div class="col-8-12">
			- Managed WEAI website used by thousands of graduate and undergraduate students and academics in East Asian studies</br>
			- Directed and implemented redesign and refactoring of outdated codebase</br>
			Stack: Javascript, JQuery, HTML5/CSS3
		</div>
	</div>
	<div class="grid grid-pad">
		<div class="col-4-12">
			<h2>Beachhead Studio, Activision Blizzard Publishing, Inc.</h2>
			Software Engineering Intern, Call of Duty ELITE</br>
			June 2012 – August 2012
			<div class="oblique">
				New York, New York
			</div>
		</div>
		<div class="col-8-12">
			- Worked between design and engineering teams to migrate Call of Duty ELITE, an online web service utilized by 2.3 million subscribers, from Modern Warfare III to Black Ops II </br>
			- Engineered solutions and wrote scripts to automate large-scale updates of legacy codebase and transition to LESS Framework
		</div>
	</div>
	<div class="grid grid-pad">
		<div class="col-4-12">
			<h2>Columbia University Department of Computer Sciences</h2>
			Research Assistant, genSpace Project, Programming Systems Laboratory</br>
			January 2012 – May 2012
			<div class="oblique">
				New York, New York
			</div>
		</div>
		<div class="col-8-12">
			- Designed and developed new notebook functionality for genSpace plugin for geWorkbench, a Java-based open source graphical application used by biologists and researchers
		</div>
	</div>
	<div class="grid grid-pad">
		<div class="col-4-12">
			<h2>Columbia University Department of Biological Sciences </h2>
			Research Assistant, Kelley Behavioral Science Laboratory</br>
			September 2011- January 2012
			<div class="oblique">
				New York, New York
			</div>
		</div>
		<div class="col-8-12">
			- Behavioral science research on African clawed frogs
		</div>
	</div>
</div>
</div>

